body {
    background-color: white;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

.container-fluid {
    text-align: center;
}
.button-class {
    display: inline-block;
}
.hidden {
    visibility: hidden;
    pointer-events: none;
}
.button-class.active {
    color: #34197c;
}