body {
    background-color: white;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.portrait-mary, .portrait-percy {
    position: absolute;
    right: 400px;
    width: 100px;
    text-align: center;
    margin: 0;
}

.portrait-mary img, .portrait-percy img {
    width: 300%;
    height: auto;
}

figcaption {
    font-style: italic;
    margin-top: 5px;
}

.portrait-mary {
    top: 20px; 
}

.portrait-percy {
    top: 450px; 
}

span.supraAdd {
    vertical-align: super;
    font-size: 0.8em;
    line-height: 0;
}

span.pageNumber {
    display: inline-block;
    width: 30px;           
    height: 30px;       
    line-height: 30px;  
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    background: white; 
    vertical-align: middle;
}

*[rend="underline"] {
    text-decoration: underline !important;
}

p {
    text-indent: 10px;
}

.page-list {
    list-style-type: none;
}

.row {
    position: relative;
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

.container-fluid {
    text-align: center;
}
.button-class {
    display: inline-block;
}
.hidden {
    visibility: hidden;
    pointer-events: none;
}
.button-class.active {
    color: #34197c;
}

body.hide-marks metamark, 
body.hide-marks [local-name='metamark'],
body.hide-marks tei-metamark {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

body.hide-marks .metamark {
    display: none !important;
}