body {
    background-color: white;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.portrait-mary, .portrait-percy {
    position: absolute;
    right: 20px;
    width: 150px;
    text-align: center;
    margin: 0;
}

.portrait-mary img, .portrait-percy img {
    width: 100%;
    height: auto;
}

figcaption {
    font-style: italic;
    margin-top: 5px;
}

.portrait-mary {
    top: 20px; 
}

.portrait-percy {
    top: 250px; 
}

p {
    text-indent: 10px;
}

.page-list {
    list-style-type: none;
}
.row {
    position: relative;
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

.container-fluid {
    text-align: center;
}
.button-class {
    display: inline-block;
}
.hidden {
    visibility: hidden;
    pointer-events: none;
}
.button-class.active {
    color: #34197c;
}