body {
    background-color: #efe2d1;
    font-family: Garamond, serif;
    font-size: 17px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.main-title {
    font-family: Garamond, serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    animation: float 4s ease-in-out infinite;
    display: block;
    margin-top: 30px;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

.navbar .dropdown-menu {
    background-color: #b36057 !important;
    border: 1px black;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5)
}

.navbar .dropdown-item:hover {
    background-color: #e0d1bc !important; 
    color: #720808 !important;
}

.navbar.bg-light {
    background-color: #953025 !important; 
    border-bottom: 1px solid #4a3b2a;
}

.portrait-mary, .portrait-percy {
    width: 100%;
    text-align: center;
    margin: 30px;
}

.portrait-mary img, .portrait-percy img {
    width: 100%;
    max-width: 250px;
    height: auto;
}

figcaption {
    font-style: italic;
    margin-top: 5px;
}

#sel-hand {
    width: auto;
    display: inline-block;
    margin-right: 10px;
}

#sel-hand, .btn {
    vertical-align: middle;
    margin-top: 0 !important;
    margin-bottom: 5px;
}

span.supraAdd {
    vertical-align: super;
    font-size: 0.8em;
    line-height: 0;
}

span.pageNumber {
    display: inline-block;
    width: 30px;           
    height: 30px;       
    line-height: 30px;  
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    background: white; 
    vertical-align: middle;
}

*[rend="underline"] {
    text-decoration: underline !important;
}

p {
    text-indent: 10px;
}

.page-list {
    list-style-type: none;
    padding-left: 10px;
}

.page-list li {
    display: block;
    position: relative;
}

.page-list li::before {
    content: "❧";
    position: static;
    margin-right: 12px;
    flex-shrink: 0;
}

.row {
    position: relative;
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

.container-fluid {
    text-align: left;
}
.button-class {
    display: inline-block;
}

.hidden {
    visibility: hidden;
    pointer-events: none;
}
.button-class.active {
    color: #34197c;
}

body.hide-marks metamark, 
body.hide-marks [local-name='metamark'],
body.hide-marks tei-metamark {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

body.hide-marks .metamark {
    display: none !important;
}